.label {
    -fx-text-fill: black;
}

#textDisplayLabel {
    -fx-font-family: "Calisto MT";
    -fx-font-size: 32;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#anchor {
    -fx-background-color: darkgrey;
}
#rainBackgroundImage {
    -fx-background-image: url("sprites/room/clipart-rain-gif-transparent-12.gif");
    -fx-background-color: rgba(0,0,0,0.3);
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
}